[Identification]
Action=InstallPrimarySite

[Options]
ProductID=EVAL
SiteCode={{ sitecode }}
SiteName={{ sitename }}
SMSInstallDir=C:\Program Files\Microsoft Configuration Manager
SDKServer='{{ SCCM_SITE_SERVER_HOSTNAME }}.{{ ludus_domain_fqdn }}'
RoleCommunicationProtocol=HTTPorHTTPS
ClientsUsePKICertificate=0
PrerequisiteComp=0
PrerequisitePath={{ win_sccm_config_default_prereq_path }}
ManagementPoint='{{ SCCM_MGMT_SERVER_HOSTNAME }}.{{ ludus_domain_fqdn }}'
ManagementPointProtocol=HTTP
DistributionPoint='{{ SCCM_DISTRO_SERVER_HOSTNAME }}.{{ ludus_domain_fqdn }}'
DistributionPointProtocol=HTTP
DistributionPointInstallIIS=0
AdminConsole=1
JoinCEIP=0

[SQLConfigOptions]
SQLServerName='{{ SCCM_SQL_SERVER_HOSTNAME }}.{{ ludus_domain_fqdn }}'
DatabaseName=CM_{{ sitecode}}
SQLSSBPort=4022

[CloudConnectorOptions]
CloudConnector=0
CloudConnectorServer='{{ SCCM_SITE_SERVER_HOSTNAME }}.{{ ludus_domain_fqdn }}'
UseProxy=0
ProxyName=
ProxyPort=

[SystemCenterOptions]
SysCenterId=Ody/PiupYBbsAfToBRh5UUCM2B9+bceqZ/5zAkeNe6s=

[HierarchyExpansionOption]